@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

/* colors  */
:root {
  /* primary */
  --dark-cyan: hsla(192, 37%, 48%, 1);
  --dark-violet: hsla(268, 34%, 53%, 1);
  /* secondary */
  --light-cyan: hsla(192, 90%, 77%, 1);
  --light-violet: hsla(268, 100%, 86%, 1);
  /* neutral */
  --black: rgb(55, 55, 82);
  --gray: hsla(240, 10%, 57%, 1);
  --light-gray: hsla(240, 10%, 57%, 0.25);
  --white: hsla(0, 0%, 98%, 1);
  /* buttom hover */
  --cyan-hover: hsla(192, 54%, 64%, 1);
  --violet-hover: hsla(268, 55%, 71%, 1);
}

body {
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'IBM Plex Sans';
  background-color: var(--white);
  margin: 0;
}

/* *** utilities *** */

/* headings */
.h1,
.gradient-text {
  font: 900 4rem/100% Red Hat Display, serif;
  color: var(--black);
}

.gradient-text {
  background: linear-gradient(92.19deg, #855FB1 -15.84%, #4D96A9 114.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.h2 {
  font: 900 2.5rem/110% Red Hat Display, serif;
  color: var(--black);
}

.body-text {
  font: 500 1.125rem/144% Red Hat Display, serif;
  color: var(--gray);
}

.overline {
  font: 900 16px/160% Red Hat Display, serif;
  color: var(--dark-cyan);
  text-transform: uppercase;
}

/* buttons */
.btn-1,
.btn-2,
.btn-3 {
  font: 900 1rem/160% Red Hat Display, serif;
  color: var(--white);
  padding: 16px 40px;
  border-radius: 2rem;
}

/* highlighted button text */
.btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.btn-1 {
  background-color: var(--dark-cyan);
}

.btn-1:hover {
  background-color: var(--cyan-hover);
}


.btn-2,
.btn-3 {
  background-color: var(--dark-violet);
}

.btn-2:hover,
.btn-3:hover {
  background-color: var(--violet-hover);
}

.btn-1 span {
  color: var(--light-cyan);
}

.btn-2,
.btn-3 span {
  color: var(--light-violet);
}


/* padding and margins */
.pb-42 {
  padding-bottom: 42px;
}

/* *** utilities *** */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 60px 0;
}

.meet-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  flex-direction: row;
}

.meet-logo:hover {
  filter: saturate(3);
}

.meet {
  order: 2;
  transition: ease-out 1s;
}

/* logo hover effect */
.meet,
.icon {
  transition: ease-out 1s;
}

.meet:hover~.icon {
  transform: rotate(720deg);
  filter: blur(1px);
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
}

.icon:hover {
  transform: rotate(-720deg);
  filter: blur(1px);
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
}

/* hero section */

.container {
  max-width: 1460px;
}

.hero-wrapper {
  text-align: center;
  gap: 28px;
}

.hero-wrapper .body-text {
  max-width: 580px;
}

/* flex class for all the page */
.flex,
.flex-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.hero-img-mobile {
  display: none;
  content: url(./assets/tablet/image-hero.png);
}

.hero-img-mobile:hover {
  filter: grayscale(10);
  transition: ease-in 2s;
  content: url(./assets/tablet/image-hero-hover.png);
}

.hero-img-left {
  content: url(./assets/desktop/image-hero-left.png);
  transform: translateX(-30px);
  margin-bottom: 48px;
}

.hero-img-left:hover {
  content: url(./assets/desktop/image-hero-left-hover.png);
  filter: grayscale(10);
  transition: ease-in 2s;
}

.hero-img-right {
  content: url(./assets/desktop/image-hero-right.png);
  transform: translateX(30px);
  margin-bottom: -48px;
}

.hero-img-right:hover {
  filter: grayscale(10);
  transition: ease-in 2s;
  content: url(./assets/desktop/image-hero-right-hover.png);
}

/* dividers */

.divider {
  padding-top: 114px;
}

.number-one,
.number-two {
  font: 900 1rem/160% Red Hat Display, serif;
  color: var(--gray);
  background-color: var(--white);
  border: 1.5px solid var(--light-gray);
  border-radius: 100px;
  margin: 0 auto;
  width: 56px;
  height: 56px;
}

.number-bar {
  margin: 0 auto;
  content: "";
  width: 1px;
  height: 84px;
  background-color: var(--light-gray);
}

/* photo gallery section */

.photo-gallery-wrapper {
  display: flex;
  justify-content: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 64px;
  padding-bottom: 64px;
}

/* max-width 1110px centered */

.gallery-grid,
footer {
  max-width: 1110px;
  margin: 0 auto;
}

/* *** */

.gallery-container {
  overflow: hidden;
  border-radius: 8px;
}

.gallery-grid img {
  overflow: hidden;
  border-radius: 8px;
  transition: ease-out 0.5s;
}

.gallery-grid img:hover {
  transition: linear 0.3s;
  transform: scale(1.05) translateX(3px);
  filter: saturate(2);
  transition: ease-in 0.3s;
}

/* explainer section */

.explainer-section-wrapper {
  flex-direction: column;
  max-width: 520px;
  text-align: center;
  margin: 0 auto;
}

.explainer-section-wrapper .body-text {
  padding-top: 38px;
}

.explainer-section-wrapper .h2 {
  padding-top: 22px;
}


/* footer section */
.footer-wrapper {
  background-color: var(--dark-cyan);
  position: relative;
  z-index: 1;
  height: 350px;
  margin-top: -28px;
}

.number-two {
  position: relative;
  z-index: 2;
}

.flex footer {
  gap: 80px;
  justify-content: space-between;
}

.footer-wrapper .body-text,
.footer-wrapper .h2 {
  color: var(--white);
  max-width: 350px;
}

.footer-wrapper .btn-1:hover {
  background-color: var(--cyan-hover);
}

.footer-wrapper::before {
  content: "";
  background-image: url(./assets/desktop/image-footer.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -5;
}

/* breakpoints */

/* tablet breakpoint */

@media (max-width: 1270px) {

  .flex-hero {
    flex-direction: column;
  }

  .hero-img,
  .hero-img-left {
    display: none;
  }

  .hero-img-mobile {
    display: block;
    padding-bottom: 70px;
  }

  .hero-wrapper .body-text {
    max-width: 520px;
  }

  .explainer-section-wrapper {
    flex-direction: column;
    max-width: 660px;
    text-align: center;
    margin: 0 auto;
  }

  .footer-wrapper {
    height: 428px;
  }

  .flex footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 40px;
  }

  .footer-wrapper .body-text {
    max-width: 535px;
  }
}

@media (max-width: 1000px) {
  .footer-wrapper::before {
    background-image: url(./assets/tablet/image-footer.jpg);
  }
}

@media (max-width: 900px) {

  .h1,
  .gradient-text {
    font-size: 48px;
  }
}

/* mobile breakpoint */
@media (max-width: 800px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 0 24px;
  }

  .explainer-section-wrapper {
    max-width: 400px;
  }

  .footer-wrapper .h2,
  .h2 {
    font-size: 32px;
  }

  .btn {
    flex-wrap: wrap;
    align-items: center;
  }

  .flex footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 300px;
    gap: 40px;
  }
}

@media (max-width: 600px) {

  .h1,
  .gradient-text {
    font-size: 40px;
  }

  .hero-img-mobile {
    padding-bottom: 50px;
  }

  .explainer-section-wrapper,
  .hero-wrapper .body-text,
  .explainer-section-wrapper .body-text,
  .footer-wrapper .body-text {
    max-width: 300px;
    font-size: 1rem;
  }

  .pb-42 {
    padding-bottom: 36px;
  }

  .hero-img-mobile {
    max-width: 410px;
  }

  .footer-wrapper::before {
    background-image: url(./assets/mobile/image-footer.jpg);
  }
}

@media (max-width: 400px) {
  .btn {
    flex-direction: column;
  }
}